<!-- Sidebar -->
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <!-- <li class="sidebar-brand">
            Tenis
          </li> -->
          <li>
              <a href="#!/index?search=nike">Nike</a>
          </li>
          <li>
              <a href="#!/index?search=puma">Puma</a>
          </li>
          <li>
            <a href="#!/index?search=samsung">Samsung</a>
          </li>
          <li>
            <a href="#!/index?search=hue">HUE</a>
          </li>
          <li>
            <a href="#!/index?search=br">BR</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
