<div ng-controller="">
    <nav-menu></nav-menu>
    <div class="row">
        <div class="col-md-3">
            <side-menu></side-menu>
        </div>
        <div class="col-md-9">
            <div class="col-sm-6 col-md-4" ng-repeat="produto in produtos">
                <div class="thumbnail">
                    <img src="{{produto.img}}" alt="{{produto.modelo}}">
                    <div class="caption">
                        <h3>{{ produto.modelo}}</h3>
                        <p>{{ produto.descricao}}</p>
                        <p>{{ produto.marca}}</p>
                        <p>
                            <a href="" ng-click="add(produto)" class="btn btn-primary" role="button">
                                {{ produto.estoque > 0 ? "Adicionar ao carrinho R$ " + produto.preco : "Produto em falta" }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
