<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script src="js/Usuarios.js"></script>
        <link rel="stylesheet" href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
        <link rel="stylesheet" href="webjars/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Usuarios</title>
    </head>
    <body>
        <div class="row header"></div>
        <div class="row body">
            <div class="panel panel-default">
                <table class="table"></table>
            </div>

        </div>
        <div class="row footer"></div>
    </body>
</html>
